Makefile
.deps
macosx
gtk
*.o
*~
*-test
*.a
*.kdev4
transmission-daemon
transmission-remote
Makefile.in
aclocal.m4
miniupnpcstrings.h
tags
*.orig
po
test-peer-id
m4/*
*.swp
config.*
configure
cscope*

